<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<link rel="import" href="tf-histogram-icons.html">
<link rel="import" href="tf-action-button.html">


<!--
tf-compressed-histogram-dashboard is a complete frontend that loads runs from a backend,
and creates chart panes that display data for those runs.

It provides a categorizer, run selector, and x type selector, by which the user
can customize how data is organized and displayed.

Each chart has a button that can toggle whether it is "selected"; selectedRuns
charts are larger.

Organizationally, the #plumbing div contains components that have no concrete
manifestation and just effect data bindings or data loading. The #sidebar contains
shared controls like the tf-categorizer, tf-run-selector, and tf-x-type-selector.
The #center div contains tf-charts embedded inside tf-collapsable-panes.
-->
<dom-module id="tf-actions-panel">
  <template>
    <style>
    :host {
      background: white;
      width: 100%;
      height: 64px;
      box-sizing: border-box;
      border-bottom: solid 1px rgba(0,0,0,0.1);
      box-shadow: 2px 1px 7px rgba(0,0,0,0.08);
    }
    .buttons {
      position: absolute;
      top: 12px;
      left: 20px;
    }
    .buttons .divider {
      float: left;
      border-left: solid 1px var(--paper-grey-300);
      margin: 4px 24px 0 8px;
      height: 30px;
    }
    .buttons tf-action-button {
      margin-right: 12px;
      float: left;
    }
    .buttons tf-action-button {
      color: var(--paper-grey-700);
    }
    .buttons tf-action-button.deselected {
      color: var(--paper-grey-400);
    }
    .buttons paper-fab ::content > iron-icon {
      color: black;
    }
    input {
      width: 200px;
      font-size: 14px;
      position: relative;
      margin: 0 0 0 8px;
      border: solid 1px var(--paper-grey-100);
      background: var(--paper-grey-100);
      outline: none;
      padding: 4px;
      top: -1px;
      border-radius: 4px;
    }
    input:focus {
      border-color: var(--paper-grey-400);
    }
    .fabs {
      position: absolute;
      top: 43px;
      right: 24px;
      z-index: 100;
    }
    .fabs paper-fab {
      --paper-fab-background: white;
      --paper-fab-keyboard-focus-background: var(--paper-grey-200, #eee);
      float: left;
      margin-left: 10px;
      @apply(--shadow-elevation-0dp);
    }
    .fabs paper-fab ::content > iron-icon {
      color: black;
    }
    paper-tooltip {
      font-size: 12px;
    }
    paper-dropdown-menu.custom {
      width: 110px;
      margin-right: 10px;
      float: left;
      display: block;

      --paper-input-container-input: {
        font-size: 14px;
      }
      --paper-input-container-underline: {
        display: none;
      }
    };
    </style>

    <div class="buttons">
      <tf-action-button id="search">
        <iron-icon icon="search"></iron-icon>
        <input type="search" id="searchInput" placeholder="Filter"></input>
        <paper-tooltip>Filter charts. Regular expression supported.</paper-tooltip>
      </tf-action-button>
      <div class="divider"></div>
      <tf-action-button id="refresh">
        <iron-icon icon="refresh"></iron-icon>
        <paper-tooltip>Reload&nbsp;data</paper-tooltip>
      </tf-action-button>
      <div class="divider"></div>
      <tf-action-button id="offset">
        <iron-icon icon="tf-histogram:offset"></iron-icon>
        <paper-tooltip>Offset charts</paper-tooltip>
      </tf-action-button>
      <tf-action-button id="overlay" class="deselected">
        <iron-icon icon="tf-histogram:overlay"></iron-icon>
        <paper-tooltip>Overlay charts</paper-tooltip>
      </tf-action-button>
      <div class="divider"></div>
      <paper-dropdown-menu id="mode" class="custom" no-label-float horizontal-align="left">
        <paper-listbox class="dropdown-content" selected="1">
          <paper-item>Index</paper-item>
          <paper-item>Steps</paper-item>
          <paper-item>Wall Clock</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-tooltip for="mode">Change time measure</paper-tooltip>
    </div>

    <div class="fabs">
      <paper-fab mini noink raised icon="add" id="in"></paper-fab>
      <paper-tooltip for="in">Zoom in</paper-tooltip>
      <paper-fab mini noink icon="remove" id="out"></paper-fab>
      <paper-tooltip for="out">Zoom&nbsp;out</paper-tooltip>
    </div>

  </template>
  <script>
    Polymer({
      is: "tf-actions-panel",
      properties: {
        mode: {
          type: String,
          value: "offset"
        }
      },
      listeners: {
        "offset.tap": "onoffset",
        "overlay.tap": "onoverlay",
        "in.tap": "onin",
        "out.tap": "onout",
        "refresh.tap": "onrefresh",
        "search.tap": "onsearchfocus",
        "searchInput.input": "onsearch"
      },
      ready: function() {
      },
      setMode: function(mode) {
        this.mode = mode;
        this.$.offset.classList.add("deselected");
        this.$.overlay.classList.add("deselected");
        this.$[mode].classList.remove("deselected");
        this.fire("modechange", {value: this.mode});
      },
      onsearchfocus: function(e) {
        this.$.searchInput.focus();
      },
      onoffset: function(e) {
        this.setMode(this.mode === "offset" ? "overlay" : "offset");
      },
      onoverlay: function(e) {
        this.setMode(this.mode === "overlay" ? "offset" : "overlay");
      },
      onrefresh: function(d) { this.fire("refresh"); },
      onindex: function(e) { this.fire("timechange", {value: "i"}); },
      onwall: function(e) { this.fire("timechange", {value: "wall"}); },
      onstep: function(e) { this.fire("timechange", {value: "step"}); },
      onin: function(e) { this.fire("zoomchange", {value: "in"}); },
      onout: function(e) { this.fire("zoomchange", {value: "out"}); },
      onsearch: function(e) {
        this.fire("searchchange", {value: this.$.searchInput.value});
      }
    });
  </script>
</dom-module>
