<!DOCTYPE html>
<html>
  <head>
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../tf-event-dashboard.html">
    <link rel="stylesheet" type="text/css" href="../../../lib/css/global.css">
    <title>Event Dashboard Demo Demo</title>
  </head>
  <body>
    <dom-module id="x-demo">
      <template>
        <tf-event-dashboard
          id="demo"
          router="[[router]]"
          backend="[[backend]]"
        >
        </tf-event-dashboard>
      </template>
      <script>
      var router = TF.Backend.router("/demo/data", true);
      var backend = new TF.Backend.Backend(router);
        Polymer({
          is: "x-demo",
          properties: {
            router: {
              type: Object,
              value: router,
            },
            backend: {
              type: Object,
              value: backend,
            }
          },
        });
      </script>
    </dom-module>
    <x-demo></x-demo>
  </body>
</html>
